@using BlazorCalendar.Models
@using BlazorCalendar.Styles

@inherits CalendarBase

@{
    string labelMonth = "";
    string labelDay = "";
    string CSSbackground = "";
    string taskContent = "";
    string? taskColor = null;
    string? taskComment = null;
    string? classPin = null;
    string? classPointer = null;
    int tasksCounter;
    bool draggable = false;
    string? ondragover = null;
    string? disabled = null;  
   
    bool NotbeDraggeble = false; 
    string borderStyle = "";
    
}
    <section class="calendar-container" style="@Style">

    @for (var month = 0; month <= Months; month++)
    {
        m = FirstDate.AddMonths(month);
        var day = new DateTime(m.Year, m.Month, 1);
        labelMonth = day.ToString("MMMM");

        <div class="month-column">
            <div class="month-label">@labelMonth</div>
        
            @for (var i = 0; i < 31; i++)
            {
                CSSbackground = "";
                var j = day.AddDays(i);
                int taskID = -1;
                if (j.Month == m.Month)
                {
                    var d = j.DayOfWeek;
                    if (d == DayOfWeek.Saturday)
                        CSSbackground = $"background:{SaturdayColor}";
                    if (d == DayOfWeek.Sunday)
                        CSSbackground = $"background:{SundayColor}";

                    PublicHolidays.TryGetValue(new DateOnly(j.Year, j.Month, j.Day), out string holiday);

                    if (!string.IsNullOrEmpty(holiday))
                    {
                        CSSbackground = $"background:{HolidayColor}";
                    }

                    <div class="day" style="@CSSbackground" title="@holiday">@j.ToString("ddd") @j.Day</div>

                }     
            }

            @foreach (var t in TasksList.Where(t=>t.DateStart.Month == m.Month).ToList())
            {
                

                <div class="task" style="--who:@t.Key;--day:@t.DateStart.Day;--dur:@t.Duration">EH</div>
            }                  
            
        </div>
    }

    </section>