@using BlazorCalendar.Models;
@using BlazorCalendar.Styles;

<TasksTooltip Task="@tasks">
<div id="task-@tasks.ID" class="@($"task {classPin} {classPointer} {borderStyle}")" 
    style="@taskColor" title="@tasks.Comment">
    @*@onclick="e => ClickInternal(e, j)"
    @ondragstart="() => HandleDragStart(j, t.ID)"
    draggable="@draggable.ToString()"*@
    @taskContent
</div>
</TasksTooltip>

@code {
    [Parameter]
    public Tasks tasks { get; set; } = new();

    [Parameter]
    public DateTime day { get; set; } = new();

    [CascadingParameter(Name = "PriorityDisplay")]
    public PriorityLabel PriorityDisplay { get; set; }

    string? classPin => string.IsNullOrWhiteSpace(tasks.Comment) ? null : "pin";
    string classPointer = "cursor-pointer";

    string taskContent => tasks.GetTaskContent(PriorityDisplay);
    string? fillStyle => Colors.GetHatching(tasks.FillStyle, tasks.Color);
    string taskColor => $"{fillStyle};color:{tasks.ForeColor}";

    string borderStyle => GetBorderStyle(tasks,day);

    string GetBorderStyle(Tasks t, DateTime j)
    {
        string style = (t.DateStart.Date == j.Date) ? " border-top " : " ";
        style += (t.DateEnd.Date == j.Date) ? "border-bottom" : "";
        return style;
    }

    //NotbeDraggeble = t.NotBeDraggable;
}